<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.christopher.fchat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

<!--
        <!- Dispatcher
        <activity android:name=".Dispatcher">
            <intent-filter>



            </intent-filter>
        </activity> -->

        <!-- Login Activity -->
        <activity android:name=".Activitys.LoginActivity" />

        <!-- Register Activity -->
        <activity
            android:name=".Activitys.RegisterActivity"
            android:parentActivityName=".Activitys.LoginActivity" />

        <!-- Navigation drawer activity -->


        <!-- Main activity -->
        <activity android:name=".Activitys.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Profile Activity -->
        <activity
            android:name=".Activitys.SearchUserActivity"
            android:parentActivityName=".Activitys.MainActivity"
          />
        <activity android:name=".Activitys.ChatRoomActivity"
            android:parentActivityName=".Activitys.MainActivity"/>

        <activity android:name=".Activitys.StartChatActivity"
            android:parentActivityName=".Activitys.SearchUserActivity" />
    </application>

</manifest>